/* App.css */
.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: fixed; /* Garder la sidebar fixée à gauche */
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #2c3e50; /* Couleur de fond de la sidebar */
  z-index: 1000; /* S'assurer que la sidebar est au-dessus du contenu */
}

.content {
  margin-top: 40px; /* Espacer le contenu sous le header (si le header fait 64px de haut) */
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.main-header {
  position: fixed;
  top: 0;
  left: 10;
  right: 10;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 64px; /* Hauteur du header */
  display: flex;
  align-items: center;
  padding: 20 20px;
  justify-content: space-between;
}

/* Par exemple, pour les routes spécifiques (Dashboard, Team, etc.) */
.dashboard-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px); /* Calculer la hauteur restante pour le contenu */
}
